@font-face {
    font-family: myFontFam;
    src: url(./font/EuclidFlexRegular.ttf);
  }

  *{
    padding: 0;
    margin: 0;
  }

  body{
    font-family: myFontFam;
    background-color: white;
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.containers{
    width: 1400px !important;
     margin: 0 !important;
    padding: 0 !important; 
}

.nav-icons{
    display: none;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

li,a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.nav-flex h4{
    font-size: 1.5rem;
}

.nav-icons a{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.offers span{
    padding: .5rem ;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 0 .5rem;
}

.flex{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
}

.offers{
    text-align: center;
    color: white;
    background-color: black;
    padding: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
}

strong{
    color: rgb(230, 191, 130);
}

.preview img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: 10px;
    object-fit: contain;
}

.preview {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

#Thumbnails{
    display: flex;
    justify-content: center !important;
}

#main{
    border-radius: 10px;
    margin: 10px;
    width: 100%;
}

.product-flex{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.picture{
    width: 50%;
}

.content{
    width: 50%;
    padding: 1rem 2rem;
}

.rate img{
    margin-right: 10px;
}

.prices{
    font-size: 1.5rem;
    margin: .5rem 0;
    /* color: green; */
}
.prices2{
    font-size: 1rem;
    color: grey;
    text-decoration: line-through;
}

.color{
    display: flex;
    justify-content: last;
}

.color div{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: .5rem;
    border: 2px solid black;
    cursor: pointer;
}

.size div{
    cursor: pointer;
}

.color-1{
    background-color: black;
}
.color-2{
    background-color: rgb(137, 182, 180);
}
.color-3{
    background-color: white;
}

.color-6{
    background-color: red;
    
}
.color-4{
    background-color: brown;
}
.color-5{
    background-color: pink;
}

.size{
    margin-right: 1rem;
    margin-top: .5rem;
    display: flex;
    justify-content: last;
}

.color-cont{
    margin-top: 1rem;
}

.size-cont{
    margin-top: 1rem;
}

.item-col{
    margin-top: 1rem;
}

.item-col img{
    margin-right: 10px;
}

.size div{
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.765);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin-right: 10px;
}

.container {
    width: 90%;
    background-color: rgb(214, 207, 207);
    height: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    margin-top: 1rem;
  }
  .text {
    color: black;
  }

.progressed {
    height: 60%;
    background-color: rgb(255, 30, 30);
    width: 0%;
    border-radius: 10px;
    transition: all 1s;
    /* position: absolute; */
  }

  .btn-details button{
    background-color: #289414;
    color: black;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .btn-details p{
    margin-top: 0.5rem;
  }
  .btn-details h4{
    margin-top: 1.4rem;
  }
  .btn-details h3{
    margin-top: 2rem;
  }

  .prod-head{
    margin-top: 1rem;
  }

  .rewies{
    text-align: center;
    padding: 20px;
    background-color: rgba(220, 220, 220, 0.358);
  }

  .main-content{
    padding: 3rem;
  }

  .rewies p{
    padding: 1rem 10rem;
  }

  .comments{
    width: 250px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.388);
    padding: 10px 20px;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.358);
  }

  .comments span{
    text-align: center;
    background-color: white;
    padding: 0 5px;
    border-radius: 10px;
  }

  .comments p{
    text-align: justify;
    color: grey;
  }

  .comments h3{
    margin-top: 1rem;
  }

  .comments img{
    margin: .6rem 0;
  }

  .rat-star{
    text-align: center;
  }

  .comments-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .clients{
    margin: 2rem 0;
  }

  .footer{
    overflow-x: hidden;
    height:auto;
    width: 100%;
    /* position: absolute; */
    text-align: center;
}

.mail-section{
    background-color: white;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 1rem;
}

/* button{
    padding: 10px 50px;
} */

.nav-links{
    background-color: rgba(173, 173, 173, 0.139);
    padding-bottom: 20px;
}

.star{
    width: 30px;
    object-fit: contain;
}

.mail-section h3{
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
}

.mail-section h5{
    font-size: 15px;
    color: gray;
}

.size div:hover{
    background-color: rgb(227, 227, 227);
    transition: .3s;
    border: 2px solid black;
}

.size div{
    border: 2px solid grey;
}

.mail-section button{
    margin: 10px 0 30px 0;
    font-size: 14px;
}

.btn-design, .btn{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.links{
    margin: 30px 20px;
    justify-content: space-around;
}

.links a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-links img{
    width: 16rem;
    object-fit: contain;
    margin: 2rem 0 10px 0 ;
}

.nav-links h4{
    font-size: .8rem;
}

.social-icons {
    height: 50px;
    margin: 30px;
}
.address h4{
    font-size: 18px;
    margin-top: 50px;
}

.foot-title{
    margin-top: 4rem;
}

@media (max-width: 600px) {
    .social-icons h6{
        font-size: 12px;
    }
}

.clients,.comments-container{
    display: none;
}

.product-form input{
    padding: 10px;
    outline: none;
    margin-top: 10px;
    border: 1px solid black;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
}

.product-form{
    margin: 2rem 0;
    text-align: center;
}

.btn{
    width: 40% !important;
}

@media screen and (max-width: 650px){

    .nav-flex{
        justify-content: space-between;
        padding: 2rem 20px;
    }

    body{
        overflow-x: hidden;
        width: 100%;
    }

    .containers{
        width: 100% !important;
         margin: 0 !important;
        padding: 0 !important; 
    }

    .product-flex{
        flex-direction: column;
        padding: 0px !important;
        overflow-x: hidden;
    }

    #thumbnails{
        width: 100%;
        overflow-x: scroll;
    }

    .offers {
        display: none;
    }

    .content{
        width: 95%;
        padding: 1rem 10px;
        overflow-x: hidden;
    }

    .content div{
        padding: 0 5px;
    }

    .main-content{
        margin: 0;
        padding: 0;
    }

    .rewies{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    p{
        text-align: justify;
    }

    .rewies{
        text-align: center;
        justify-content: center;
    }

    .rewies h3{
      padding: 1rem 0;
    }

    .rewies p{
       padding: 0 20px;
       /* margin-top: ; */
    }

    .main-content{
        padding: 0rem;
      }

    .nav-links h3{
        margin-top: -3rem;
        /* margin-bottom: 1rem; */
    }

    /* .main-content{
        background-color: violet;
    } */
    /* .nav-links{
        margin: 0 !important;
        padding: 0 !important; 
        text-align: center;
        background-color: red;
        
    } */

    .nav-links  input{
       width: 80%;
    }

    .picture{
        width: 100%;

    }

    #main{
        width: 350px;
    }

    .product-form input{
        width: 90%;
    }

    #Thumbnails div{
        margin-left: 30px;
    }

    #img-holder{
        height: 200px !important;
        position: relative;
    }

    .offers2 span{
        padding: .3rem .5rem ;
        border-radius: 5px;
        background-color: white;
        color: black !important;
        margin: 0 .5rem;
    }
    
    .offers2{
        text-align: center;
        color: white;
        background-color: black;
        padding: 1rem 20px;
        font-weight: 300;
        display: block !important;
        font-size: 1rem;
    }

    /* .prod-head{
        font-size: 2rem;
    } */

    #review-form {
        width: 100%;
        padding: 0 !important;
            margin: 0 1rem !important;
        }

        .review-cont{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0 !important;
            margin: 0 !important;
        }

        #review-form input{
            width: 300px;
            height: 30px;
            padding: 0 !important;
            margin: 0 !important;
        }

        #review-form textarea{
            width: 300px;
        }
   
}

.offers2{
    display: none;
}
.product-form{
    display: none;
}

.edit-w1 img{
   object-fit: contain !important;
}


#review-form {
    width: 100%;
    margin: 0 5rem;
    }
    
    #star-rating {
    display: inline-block;
    }
    
    .star {
    font-size: 24px;
    cursor: pointer;
    color: grey;
    transition: color 0.3s ease;
    }
    
    .star:hover,
    .star.hover {
    color: gold;
    }
    
    .star.selected {
    color: gold;
    }

    .payment{
        margin-top: 1rem;
        border-radius: 10px;
    }

    .review-cont{
        display: flex;
        justify-content: left;
        width: 100%;
    }

    #review-form h3{
        margin: 2rem 0;
        font-size: 2rem;
    }

    #review-form input{
        width: 300px;
        height: 30px;
        margin-left: 30px;
    }

    #review-form button{
        background-color: black;
        color: white;
        border: none;
        padding: 10px 15px;
    }

    #reviewList strong{
        color: black;
        font-size: 1.2rem;
        margin-top: 5rem !important ;
    }

    hr{
        margin: 1rem 0;
    }

    #reviewList {
        font-size: 1rem;
        font-weight: 500 !important;
    }

    .bouncing-button {
        padding: 15px 30px;
        font-size: 18px;
        background-color: #28a745; 
        /* / Green color for a "deal" button / */
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        /* / Start animation on page load / */
        animation: bounce 1s ease infinite;
        text-align: center;
        }
        
        /* / Animation to make the button bounce / */
        @keyframes bounce {
        0%, 100% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-5px);
        }
        }

        .offers {
            /* position: absolute; */
            white-space: nowrap;
            font-size: 24px;
            background-color: black;
            color: white;
            padding: 10px;
            top: 0;
            left: 100%; 
            width: 100%;
            
            }

            .offers h5{
                transform: translateX(10%);
                animation: slide 20s linear infinite;
            }

            .offers2 h5{
                transform: translateX(10%);
                animation: slide 10s linear infinite;
            }

        @keyframes slide {
            0% {
            transform: translateX(100%);
            }
            100%{
                transform: translateX(-100%);
            }
            }

            .offers:hover, .offers2:hover {
                animation-play-state: paused;
                }

